*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, Arial, Helvetica, sans-serif;
}
.top-bar{
    background: rgb(25, 95, 133);
    color: white;
    padding: 8px 50px;
    display: flex;
    color: white;
    position: fixed;
    z-index: 1;
}
.top{
    display: flex;
    align-items: flex-end;
    margin-left: 180px;
    list-style: none;
}
.top-1{
    display: flex;
    list-style: none;
    margin-left: 50%;
    padding: 10px;
}
.top-1 li a{
    color: white;
    text-decoration: none;
}
.top li a{
    color: white;
    /* gap: 5px; */
    text-decoration: none;
    padding: 5px;

}
.menu{
    list-style: none;
    display: flex;
    margin-left: 60px;
    margin-bottom: 10px;
    flex: 1;

}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    gap: 20px;
    padding: 10px;
}
.menu a:hover{
    text-decoration: underline;
    color: #1177ed;
}
.dropdown-menu{
  position:absolute;
  top:50px;
  left:0;
  background:white;
  min-width:220px;
  display:none;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}
.dropdown-menu li a{ 
    color: rgb(105, 104, 104);
    padding: 10px 15px;
}
.dropdown-menu li a:hover{
    background: #00b3d6;
}
.menu li a:hover {
    background:#00b3d6 ;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.search{
    display: flex;
    height: 35px;
    margin-top: 10px;
    justify-content: end;
    margin-left: 70px;
}
.search input{
    padding: 7px 10px;
    border-radius: 5px;
    outline: none;
}
.search button{
    background: black;
    color: white;
    border: none;
    padding: 9px 18px;
    cursor: pointer;
    border-radius: 5px;
}
.video{
    width: ;
}
.section{
    padding-top: 0px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.hero{
    position: absolute;
    left: 70px;
    top: 30%;
    background: rgba(0,0,0,0.70);
    color: white;
    padding:  15px 10px;
    border-bottom: 6px solid #1fa0d6;
    border-top: 6px solid #1fa0d6;
    width: 30%;
    margin-bottom: 30%;

}

.hero h1{
    font-size: 44px;
    margin-bottom: 20px;
}
.hero h3{
    font-weight: normal;
    margin-bottom: 25px;
}
.hero p{
    font-size: 25px;
    padding: 10px;
    font-weight: 10px;
}
.video{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0.35);
    z-index: -1;
    object-fit: cover;
    padding-top: px;
}

.quick-figure{
   background: #1b3b5a;
   padding: 40px 20px;
   color: white;
   text-align: center;
}
.quick-figure h2{
    margin-bottom: 40px;
    font-size: 32px;
}
.figures-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.figure-box{
    width: 220px;
    margin: 20px;
    display:inline-block;
}
.figure-box i{
    font-size: 40px;
    color: #f4a340;
    transition: 0.3s;
    gap: 20px;
}
.figure-box :hover i{
    transform: scale(1.3);
    color: white;
    cursor: pointer;
}
.figure-box h1{
    font-size: 48px;
    margin: 15px 0;
}
.figure-box p{
    font-size: 20px;
}

.why-title{
    text-align: center;
    margin: 40px;
    color:#0b5d87;
    font-size: 36px;
}
.why{
    background: linear-gradient(to right, #4bb6d6,#17b1f3);
    display: flex;
    justify-content: space-around;
    padding: 50px;
    color: white;
    text-align: center;
    flex-wrap: wrap;
}
.why-box{
    width: 300px;
    padding: 20px;
}
.why-box i{
    font-size: 40px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.why-box:hover i{
    transform: translateY(-10px);
}
.why-box h3{
    margin-bottom: 10px;
    cursor: pointer;
}
.why-box p{
    font-size: 15px;
    gap: 10px;
}
.discover{
    padding: 40px 60px;
}
.discover h2{
    color: #006aa6;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
}
.discover h2:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #006aa6;
    bottom: -8px;
    left: 0;
}
.discover-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}
.card{
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    overflow: hidden;
    position: relative;
}
.card img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-bottom:  6px solid #2a7c9f;
    transition: 0.4s;
}
.card :hover img{
    transform: scale(1.1);
}
.card-title{
    padding: 15px;
    text-align: center;
    font-weight: bold;
}
.news{
    padding: 50px 50px;
    text-align: center;
}
.news h2{
    font-size: 32px;
    margin-bottom: 40px;
}
.news-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.news-card{
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    text-align: left;
}
.img-box{
    overflow: hidden;
}
.img-box img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition: 0.4s;
}
.news-card :hover img{
    transform: scale(1.1);
}
.date{
    display: inline-block;
    background: #1976d2;
    color: white;
    padding: 8px 15px;
    margin: 15px;
    border-radius: 4px;
    font-size: 14px;
}
.news-card h3{
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 18px;
}
.news-card p{
    padding: 0 15px 20px;
    color: #555;
    line-height: 1.5;
    font-size: 14px;
}
.news-btn{
    margin-top: 35px;
    padding: 12px 40px;
    border: 1px solid #1976d2;
    background: white;
    color: #1976d2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s;
}
.news-btn:hover{
    background:   #1976d2;
    color: white;
}
.research{
  padding:50px 80px;
}

.research h2{
  color:#0073a8;
  font-size:32px;
  display:inline-block;
  border-bottom:4px solid #0073a8;
  margin-bottom:40px;
}
.research h2:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #006aa6;
    bottom: -8px;
    left: 0;
}
.cards{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:25px;
}
.card img{
  width:100%;
  height:220px;
  object-fit:cover;
}
.tag{
  display:inline-block;
  background:#0073a8;
  color:white;
  padding:6px 10px;
  margin:10px 0;
  font-size:14px;
}
.card p{
  line-height:1.5;
}
.center{
  text-align:center;
  margin-top:40px;
}

button{
  padding:10px 25px;
  background:white;
  border:1px solid #0073a8;
  color:#0073a8;
  cursor:pointer;
}
button:hover{
  background:#0073a8;
  color:white;
}
.featured{
  background:#006c8f;
  color:white;
  text-align:center;
  padding:30px;
  font-size:28px;
  margin-top:50px;
}
.events{
  padding:50px 80px;
}



.event-cards{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}


.event-card{
  border:1px solid #ddd;
  border-radius:6px;
  overflow:hidden;
}


.day{
  padding:10px 20px;
  font-weight:bold;
  color:#666;
}


.event-body{
  border-top:2px solid #0073a8;
  padding:20px;
  display:flex;
  gap:20px;
}

.date-circle{
  background:#0073a8;
  color:white;
  width:70px;
  height:70px;
  border-radius:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.num{
  font-size:22px;
  font-weight:bold;
}

.month{
  font-size:12px;
}


.event-info h4{
  margin-bottom:5px;
}

.event-info small{
  color:#999;
}

.event-info p{
  margin:15px 0;
  line-height:1.4;
}

.event-info button{
  background:#006c8f;
  color:white;
  border:none;
  padding:7px 20px;
  cursor:pointer;
  border-radius:4px;
}

.event-info button:hover{
  opacity:.8;
}

.center{
  text-align:center;
  margin-top:40px;
}

.outline{
  background:white;
  color:#0073a8;
  border:1px solid #0073a8;
  padding:10px 25px;
}

.projects{
  text-align:center;
  color:#006c8f;
  font-size:28px;
  margin:40px 0;
}
.programs{
  padding:50px 80px;
  background-color: rgb(68, 67, 67);
}

.partners{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:25px;
  margin-bottom:40px;
}

.partner-card{
  background:white;
  padding:5px 10px;
  text-align:center;
  font-weight:bold;
}

.big-cards{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.big-card{
  background:white;
}

.top-title{
  background:black;
  color:white;
  padding:10px;
  text-align:center;
  font-weight:bold;
  border-bottom: 6px solid #1fa0d6;
}

.big-card img{
  width:100%;
  height:260px;
  object-fit:cover;
}

.card-bar{
  background:#006c8f;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px;
}

.plus{
  background:#fbbc2f;
  color:black;
  width:40px;
  height:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:26px;
}
.card-body{
  padding:25px;
  text-align:center;
  box-shadow: 5px 15px rgba(0,0,0,0.15);
}

.card-body h4{
  margin-bottom: 20px;
  color: #555;
}

.card-body p{
  line-height:1.5;
  color:#555;
}
.footer{
  background:#006c8f;
  color:white;
  padding:60px 80px;
  display: flex;
}
.footer-columns{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:40px;
}

.col h3{
  margin-bottom:20px;
  position:relative;
}

.col h3::after{
  content:"";
  width:50px;
  height:3px;
  background:white;
  position:absolute;
  left:0;
  bottom:-10px;
}

.col p{
  margin:12px 0;
  cursor:pointer;
}

.col p:hover{
  text-decoration:underline;
}

.socials{
  margin-top:10px;
}

.socials i{
  font-size:20px;
  margin-right:10px;
  cursor:pointer;
}

.socials i:hover{
  opacity:.7;
}


.copyright{
  background:#005c7a;
  color:white;
  text-align:center;
  padding:20px;
  font-size:18px;
}
