*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, Arial, Helvetica, sans-serif;
}
.top-bar{
    background: rgb(25, 95, 133);
    color: white;
    padding: 8px 50px;
    display: flex;
    color: white;
    /* position: absolute; */
}
.top{
    display: flex;
    align-items: flex-end;
    margin-left: 180px;
    list-style: none;
}
.top-1{
    display: flex;
    list-style: none;
    margin-left: 50%;
    padding: 10px;
}
.top-1 li a{
    color: white;
    text-decoration: none;
}
.top li a{
    color: white;
    /* gap: 5px; */
    text-decoration: none;
    padding: 5px;

}
.menu{
    list-style: none;
    display: flex;
    margin-left: 60px;
    margin-bottom: 10px;
    flex: 1;

}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    gap: 20px;
    padding: 10px;
}
.menu a:hover{
    text-decoration: underline;
    color: #1177ed;
}
.dropdown-menu{
  position:absolute;
  top:50px;
  left:0;
  background:white;
  min-width:220px;
  display:none;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}
.dropdown-menu li a{ 
    color: rgb(105, 104, 104);
    padding: 10px 15px;
}
.dropdown-menu li a:hover{
    background: #00b3d6;
}
.menu li a:hover {
    background:#00b3d6 ;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.search{
    display: flex;
    height: 35px;
    margin-top: 10px;
    justify-content: end;
    margin-left: 70px;
}
.search input{
    padding: 7px 10px;
    border-radius: 5px;
    outline: none;
}
.search button{
    background: black;
    color: white;
    border: none;
    padding: 9px 18px;
    cursor: pointer;
    border-radius: 5px;
}
.video{
    width: ;
}
.section{
    padding-top: 0px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.hero-content{

}
.hero{
    position: absolute;
    left: 70px;
    top:20%;
    background: rgba(0,0,0,0.70);
    color: white;
    padding: 40px;
    border-bottom: 6px solid #1fa0d6;
    border-top: 6px solid #1fa0d6;
    width: 35%;
    margin-bottom: 30%;
}

.hero h1{
    font-size: 44px;
    margin-bottom: 20px;
}
.hero h3{
    font-weight: normal;
    margin-bottom: 25px;
}
.hero p{
    font-size: 25px;
    padding: 15px;
}
.video{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0.35);
    z-index: -1;
    object-fit: cover;
    padding-top: px;
}

.quick-figure{
   background: #1b3b5a;
   padding: 40px 20px;
   color: white;
   text-align: center;
}
.quick-figure h2{
    margin-bottom: 40px;
    font-size: 32px;
}
.figures-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.figure-box{
    width: 220px;
    margin: 20px;
    display:inline-block;
}
.figure-box i{
    font-size: 40px;
    color: #f4a340;
    transition: 0.3s;
    gap: 20px;
}
.figure-box :hover i{
    transform: scale(1.3);
    color: white;
    cursor: pointer;
}
.figure-box h1{
    font-size: 48px;
    margin: 15px 0;
}
.figure-box p{
    font-size: 20px;
}

.why-title{
    text-align: center;
    margin: 40px;
    color:#0b5d87;
    font-size: 36px;
}
.why{
    background: linear-gradient(to right, #4bb6d6,#17b1f3);
    display: flex;
    justify-content: space-around;
    padding: 50px;
    color: white;
    text-align: center;
    flex-wrap: wrap;
}
.why-box{
    width: 300px;
    padding: 20px;
}
.why-box i{
    font-size: 40px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.why-box:hover i{
    transform: translateY(-10px);
}
.why-box h3{
    margin-bottom: 10px;
    cursor: pointer;
}
.why-box p{
    font-size: 15px;
    gap: 10px;
}
.discover{
    padding: 40px 60px;
}
.discover h2{
    color: #006aa6;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
}
.discover h2:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #006aa6;
    bottom: -8px;
    left: 0;
}
.discover-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}
.card{
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    overflow: hidden;
    position: relative;
}
.card img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-bottom:  6px solid #2a7c9f;
    transition: 0.4s;
}
.card :hover img{
    transform: scale(1.1);
}
.card-title{
    padding: 15px;
    text-align: center;
    font-weight: bold;
}
.news{
    padding: 50px 50px;
    text-align: center;
}
.news h2{
    font-size: 32px;
    margin-bottom: 40px;
}
.news-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.news-card{
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    text-align: left;
}
.img-box{
    overflow: hidden;
}
.img-box img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition: 0.4s;
}
.news-card :hover img{
    transform: scale(1.1);
}
.date{
    display: inline-block;
    background: #1976d2;
    color: white;
    padding: 8px 15px;
    margin: 15px;
    border-radius: 4px;
    font-size: 14px;
}
.news-card h3{
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 18px;
}
.news-card p{
    padding: 0 15px 20px;
    color: #555;
    line-height: 1.5;
    font-size: 14px;
}
.news-btn{
    margin-top: 35px;
    padding: 12px 40px;
    border: 1px solid #1976d2;
    background: white;
    color: #1976d2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s;
}
.news-btn:hover{
    background:   #1976d2;
    color: white;
}
.
